/* ----------------------- Paramètres Globaux ----------------------- */

@font-face { /* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
    font-family:"Aller Light";src:url("../fonts/Aller_Light/Aller_Lt.eot?") 
    format("eot"),url("../fonts/Aller_Light/Aller_Lt.woff") 
    format("woff"),url("../fonts/Aller_Light/Aller_Lt.ttf") 
    format("truetype"),url("../fonts/Aller_Light/Aller_Lt.svg#Aller-Light") 
    format("svg");font-weight:normal;font-style:normal;
}

body{
    font-family: "Aller Light", Helvetica, Verdana, Arial, Sans-Serif;
    background-color: #282828; // Noir clair
    padding: 0px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
}

.page_wrapper{
    background-color: #ebe7df; // Blanc creme
    margin: 0px;
    width: 1120px;
    
}

a{
    text-decoration: none;
}

/* ----------------------- Header ----------------------- */

/* ----- Logo Banner ----- */

header{
    
    margin: 0px;
    padding: 0px;
    
}

div.headerLogoBanner{
    min-height: 36px;
    background-color: #242424; 
    display: flex;
    position: relative;
}

div#logo{
    margin-left: 184px;
    color: #57c5a0; /* Bleu-vert */
    font-size: 21px;
    min-height: 36px;
    line-height: 36px;
}

div#loginContainer{
    
    display: flex;
    color: #7d7d7d;
    position: absolute;
    right: 184px;
    min-height: 36px;
    font-size: 9px;
}

div#search{
    font-size: 15px;
    min-height: 36px;
    line-height: 36px;
    text-align: center;
    padding-left: 17px;
    padding-right: 17px;
    border-right: 1px solid #383838;
}

div#login{

    min-height: 36px;
    line-height: 36px;
    text-align: center;
    padding-left: 17px;
    padding-right: 17px;
    border-right: 1px solid #383838;

}

div#loginContainer a{
    color: #7d7d7d;
}

div#loginContainer a:hover{
    color: white;
}

/* ----- Navigation Menu ----- */

nav{
    background-color: #ffffff;
    font-size: 13px;
    color: #242424;
    display: flex;
    min-height: 48px;
    padding: 0px;
    margin: 0px;
    position: relative;
}

nav a{
    color: #242424;
}

div.navMenu{
    margin-left: 192px;

}

ul.navMenu{
    min-height: 48px;
    line-height: 48px;
    padding: 0px;
    margin: 0px;
    display: flex;
    
}

li.navMenu{
    display: inline-block;
    margin: 0px;
    flex-grow: 1;
}

li.navMenu a{
    display: block;
    padding-left: 16px;
    padding-right: 16px;
    border-right: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;

}

li.navMenu a:hover{
    background-color: #57c5a0;
    color: white;

}


ul.subNavMenu{
    display: none;
    
}

li.subNavMenu{
    display: none;
}

div.navIcones{
    border-left: 1px solid #cccccc;
    min-height: 48px;
    padding: 0px;
    margin: 0px;
    position: absolute;
    right: 184px;
    display: flex;
}

div.iconesItems{
    //padding-right: 19px;
}

div.navIcones a{
    border-right: 1px solid #cccccc;
    text-decoration: none;
    padding-right: 19px;
    padding-left: 19px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

div.navIcones i{
    line-height: 48px;
    margin-right: 5px;
    color: #6e6e6e;
}

div.navIcones span{
    height: 16px;
    width: 16px;
    margin: auto;
    text-align: center;
    font-size: 10px;
    line-height: 16px;
    background-color: #adadad;
    border-radius: 3px;
    color: white;
}

div.navIcones span:hover{
    background: #57c5a0;
}





/* ----------------------- Caroussel ----------------------- */

div.carousselDiv{
    width: 1120px;
    
}

/* ----- Caroussel Display ----- */

div#carousselDisplay{
    background: red;
    background: url(../images/carousselBg.jpg) repeat-x;      /*#f2eeeb;*/
    display: flex;
    color: #242424;
}

img.caroussel{
    width: 560px;
    margin: 0px;
}

div.carousselInfo{
    margin: 0px;
    width: 560px;
    padding-left: 32px;
    position: relative;
}

div.carousselPrice{
    width: 53px;
    height: 53px;
    color: white;
    background: #57c5a0;
    line-height: 53px;
    font-size: 11px;
    text-align: center;
    margin: 0px;
    margin-top: 56px;
}

h2.carousselTitle{
    font-size: 32px;
    margin: 0px;
    margin-top: 14px;
    font-weight: normal;
    padding: 0px;

}

h2.carousselSubtitle{
    font-size: 32px;
    font-weight: normal;
    position: relative;
    top: -5px;
    padding: 0px;
    margin: 0px;
}

/*  border: 1px solid black; */
p.caroussel{
    margin: 0px;
    padding: 0px;
    width: 60%;

}

div.carousselIconesContainer{
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
}

div.carousselIconesContainer i{
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    background-color: white;
    margin: 5px;
    color: #7c7c7c;
}

div.carousselIconesContainer i:hover{
    color: #57c5a0;
}


/* ----- Caroussel Menu ----- */

div#carousselMenuContainer{
    background-color: #2e2e2e;
    color: #acacac;
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    
}

div.carousselMenuItem{

    margin: 0px;
    width: 20%;
}

div.carousselMenuItemHeader{
    background: black;
    height: 10px;
    border-right: 2px solid grey;
    border-left: 2px solid grey;
}

div.carousselMenuItemHeaderFiller{
    background: black;
    height: 6px;
    width: 90%;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}


div.carousselMenuActive{
    background: #57c5a0;
    height: 6px;
    width: 90%;
    margin: auto;
    margin-top: 2px;
    margin-bottom: 2px;
}



div.carousselMenuItemInfo{
    
}

h3.carousselMenuItemInfoTitle{
    text-align: center;
    margin-bottom: 5px;
    padding-bottom: 0px;
    
}

h3.carousselMenuItemInfoTitle a{
    text-align: center;
    color: #acacac;
    
}

h3.carousselMenuItemInfoTitle a:hover{
    color: #57c5a0;
        
}

p.carousselMenu{
    text-align: center;
    margin-top: 0px;
}

/* -------------------- On Sale Separator -------------------- */

div#onSaleSeparator{
    background: #242424;
    display: flex;
    justify-content: center;
}

div.onSaleItemContainer{
    width: 80%;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
}

div.onSaleItems{
    margin: 20px;
    width: 240px;
    height: 144px;
    background: url("../images/onSale.jpg") no-repeat top left;
    display: flex;
    justify-content: center;
    align-items: center;
}


div.onSaleMsg{
    color: white;
    background: rgba(0, 0, 0, 0.8);
    height: 48px;
    line-height: 48px;
    padding: 0 14px 0 14px;
    font-size: 20px;
}

div.onSaleMsg a{
    color: white;
    
}

div.onSaleMsg a:hover{
    color: #57c5a0;
}

/* -------------------- Section Main -------------------- */



section.main{
    display: flex;
    justify-content: center;
    padding: 20px 0 0px 0;
    margin: 0px;

}

div.mainContainer{
    width: 80%;
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
}

section.main h2{
    width: 100%;
    position: relative;
    font-size: 20px;
    font-weight: normal;
    height: 25px;
    padding-left: 20px;

}

section.main h2 a{
    display: block;
    position: absolute;
    right: 20px;
    top: 0px;
    border: 1px solid #bcb5a7;
    font-size: 12px;
    color: #bcb5a7;
    line-height: 24px;
    height: 24px;
    padding: 0 15px 0 15px;
    
}

section.main h2 a:hover{
    background: #57c5a0;
    color: white;
    
}

div.mainItemContainer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 20px 0 20px;
}
    

div.mainItem{
    background: white;
    
}

img.mainImg{
    width: 240px;
    border-bottom: 1px solid #cccccc;
}

div.mainItemInfo{
    position: relative;
    padding: 7px 10px 7px 10px;
    
    
}

div.mainItemPrice{
    width: 53px;
    height: 53px;
    line-height: 53px;
    background: #57c5a0;
    position: absolute;
    bottom: 0px;
    font-size: 12px;
    text-align: center;
    color: white;
}

div.mainItemName{
    margin-left: 63px;
    font-size: 15px;
    font-weight: bold;
    
}

div#separator{
    width: 100%;
    border-top: 1px solid #cccccc;
    height: 1px;
    margin: 40px 20px 0px 20px;
    
}


/* ----------------------- Aside Main ----------------------- */

aside.main{
    display: flex;
    justify-content: center;
}

div.asideContainer{
    
    width: 80%;
    padding: 0 20px 0 20px;
    display: flex;
    justify-content: space-between;
}


div.asideSquareItem{
    width: 180px;
    height: 120px;
    margin: 20px 0 20px 20px;
    background: #dfdbd4;
    padding: 30px 15px 30px 15px;
    
}

h3.asideSquareItem{
    font-size: 12px;
    margin: 0px;
}

p.asideSquareItem{
    font-size: 11px;
    line-height: 1.5;
}

span.signature{
    font-style: italic;
}


div.asideRectangleItem{
    width: 370px;
    height: 120px;
    margin: 20px;
    background: #dfdbd4;
    padding: 30px 15px 30px 15px;
    display: flex;
    flex-direction: column;
    
}

div.blogPreviewContainer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 10px 10px 0px;;
}

div.blogDate{
    font-size: 10px;
    color: white;
    background: #57c5a0;
    text-align: center;
    width: 27px;
    height: 27px;
    padding: 4px;
    
}

div.blogPreview{
    padding: 0px;
    margin-left: 10px;
}

h4.blogPreview{
    margin: 0px;
    font-size: 12px;
}

p.blogPreview{
    margin: 0px;
    font-size: 11px;
}

/* ----------------------- Footer ----------------------- */

footer{

}
/* ----- Footer Widget ----- */

div.footerWidget{
    width: 100%;
    padding: 10px 0px 20px 0px;
    display: flex;
    justify-content: center;
    background: #242424;
    color: #a4a4a4;
    border-bottom: 2px solid #1c1c1c;
}

div.footerWidgetContainer{
    width: 70%;
    display: flex;
    justify-content: space-between;
}


div.widgetContainer{
    width: 30%;
}

h3.widget{
    color: #7d7d7d;
    font-size: 13px;
    font-weight: 600px;
}


p.widget{
    font-size: 10px;
    text-align: justify;
    font-weight: 600;
}


div.widgetTweet{
    font-style: italic;
    font-size: 10px;
    margin-top: 10px;
    font-weight: 600;
}


span.tweeterAt{
    color: #57c5a0;
    font-style: italic;
}


span.tweeterDate{
    color: #c4c5bf;
    font-weight: bold;
}


div.flickrImageContainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

img.flickr{
    margin: 5px 0 5px 0;
}


/* ----- Footer Newletter ----- */

div.footerNewsletter{
    width: 100%;
    padding: 25px 0px 25px 0px;
    display: flex;
    justify-content: center;
    background: #242424;
    color: #a4a4a4;
}

div.footerNewsletterContainer{
    width: 70%;
    display: flex;
    justify-content: space-between;
}

form.newsletterSubscrit{
    display: flex;
    justify-content: flex-start;
}    



input.newsLetter{
    background: #2e2e2e;
    border-radius: none;
    font-style: italic;
    color: #a4a4a4;
    height: 29px;
    line-height: 29px;
    border: none;
    padding: 0 10px 0 25px;
    margin: 0px;
}

input#newSubmit{
    background: #7d7d7d;
    font-style: normal;
    width: 29px;
    height: 29px;
    line-height: 29px;
    margin: 0px;
    color: #2e2e2e;
    padding: 0px;
}

div.socialIcones{
    
}

span.social{
    width: 29px;
    height: 29px;
    line-height: 29px;
    text-align: center;
    background: #2e2e2e;
}

/* ----- Footer Reference ----- */

div.footerReference{
    width: 100%;
    padding: 25px 0px 25px 0px;
    display: flex;
    justify-content: center;
    background: #2e2e2e;
    color: #a4a4a4;
}

div.footerReferenceContainer{
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

div.copyrightContainer{
    font-size: 12px;
}

div.referenceLink{
    
}

div.referenceLink a{
    color: #a4a4a4;
    font-size: 12px;
}

div.referenceLink a:hover{
    color: #57c5a0;
}


