/* ----------------------- Paramètres Globaux ----------------------- */

@font-face { /* @font-face kit by Fonts2u (http://www.fonts2u.com) */ 
    font-family:"Aller Light";src:url("../fonts/Aller_Light/Aller_Lt.eot?") 
    format("eot"),url("../fonts/Aller_Light/Aller_Lt.woff") 
    format("woff"),url("../fonts/Aller_Light/Aller_Lt.ttf") 
    format("truetype"),url("../fonts/Aller_Light/Aller_Lt.svg#Aller-Light") 
    format("svg");font-weight:normal;font-style:normal;
}

body{
    font-family: "Aller Light", Helvetica, Verdana, Arial, Sans-Serif;
}

.page_wrapper{
    
}


/* ----------------------- Header ----------------------- */

/* ----- Logo Banner ----- */

div.header{
    
}

div.headerLogoBanner{
    
}

div#logo{
    
}

div#loginContainer{
    
}

div#search{
    
}

div#login{
    
}

/* ----- Navigation Menu ----- */

nav{
    
}

div.navMenu{
    
}

ul.navMenu{
    
}

li.navMenu{
    
}

ul.subNavMenu{
    
}

li.subNavMenu{
    
}

div.navIcones{
    
}

div.iconesItems{
    
}


/* ----------------------- Caroussel ----------------------- */

div.carousselDiv{
    
}

/* ----- Caroussel Display ----- */

div.carousselDisplay{
    
}

div.carousselInfo{
    
}

div.carousselPrice{
    
}

h2.carousselTitle{
    
}

h2.carousselSubtitle{
    
}

p.carousselInfo{
    
}

div.carousselIconesContainer{
    
}

div.carousselIcones{
    
}

/* ----- Caroussel Menu ----- */

div#carousselMenuContainer{
    
}

div.carousselMenuItem{
    
}

div.carousselMenuItemHeader{
    
}

div.carousselMenuItemHeaderFiller{
    
}

div.carousselMenuItemInfo{
    
}

div.carousselMenuItemInfoTitle{
    
}

p.carousselMenu{
    
}